option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "todoapp.settings"
    "PYTHONPATH": "/opt/python/current/app/todoapp:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: todoapp/todoapp/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"