container_commands:
  01_getenvvars:
    command: "source /opt/python/current/env"
    leader_only: true
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python todoapp/manage.py migrate --noinput"
    leader_only: true
  03_createsuperuser:
    command: "source /opt/python/run/venv/bin/activate && echo \"from django.contrib.auth.models import User; User.objects.filter(email='admin@mail.com').delete(); User.objects.create_superuser('admin', 'admin@mail.com', 'admin')\" | python todoapp/manage.py shell"
    leader_only: true
  04_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python todoapp/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "todoapp.settings"
    "PYTHONPATH": "/opt/python/current/app/todoapp:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: todoapp/todoapp/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"